@model List<OnlineCompiler.Models.User>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Register date
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>@item.Username</td>
        <td>@item.RegisterDate</td>
    </tr>
}
    </tbody>
</table>
</div>
